.product-list{
    padding: 26px;
}
.product-item{
    padding: 10px;
}
h3,p{
    padding-bottom: 6px;
}
p{
    font-size: 18px;
}

button{
    padding: 5px 12px;
    border-radius: 6px;
    margin: 8px;
}